/* Global variables */
:root {
  /* Color */
  --blue:  #0065FC;
  --blue-light: #DEEBFF;
  --grey: #F2F2F2;
  --grey-darker: #e0e0e0;
  --black: rgb(32, 32, 32);
  --white: rgb(250, 250, 250); 

  /* Responsive */
  --padding-s: 20px 0;
  --margin-s: 0 15px;
  --padding-top-bot: 1em;

  /* Breakpoint */
}

@media only screen and (min-width: 480px) {
  :root {
    --margin-s: 0 30px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --margin-s: 0 35px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --margin-s: 0 70px;
  }
}

@media only screen and (min-width: 1500px) {
  :root {
    --margin-s: 0 10vw;
  }
}

/* Project */
body {
  margin: 0;
  font-family: Raleway, sans-serif;
}

header nav ul {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--black);
}

section, aside, footer {
  padding: var(--margin-s);
}

.primary-title {
  margin-top: 0;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
}

.secondary-title {
  margin-top: 0;
  font-size: 1em;
  font-style: normal;
  font-weight: 200;
}

/* Header */

header nav ul {
  display: grid;
  width: calc(100% - 60px);
  height: 110px;
  grid-template-areas:  "logo sub"
                        "ancre_1 ancre_2";
  grid-template-rows: 60px 50px;
  grid-template-columns: 1fr 1fr;
}

header nav ul li {
  height: 50px;
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav ul li a img {
  margin: var(--margin-s);
}

header nav ul li#logo {
  grid-area: logo;
}

header nav ul li#subscribe {
  display: flex;
  justify-content: flex-end;
}

header nav ul li#subscribe a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--blue);
  font-weight: 900;
  margin: var(--margin-s) 0 0;
}

header nav ul #ancre_1 {
  grid-area: ancre_1;
}

header nav ul #ancre_2 {
  grid-area: ancre_2;
}

#ancre_1, #ancre_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ancre_1 a, #ancre_2 a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  border-bottom: solid 3px;
  border-color: var(--grey);
}

#ancre_1 a[data-active="true"], 
#ancre_2 a[data-active="true"] {
  border-color: var(--blue);
  color: var(--blue);
}

#subscribe {
  grid-area: sub;
}

@media only screen and (min-width:768px) {
  header nav ul {
    display: grid;
    width: 100%;
    height: 60px;
    grid-template-areas:  "logo ancre_1 ancre_2 sub";
    grid-template-rows: 60px;
    grid-template-columns: 55vw 15vw 15vw 15vw;
    padding: 0;
  }

  header nav ul li {
    height: auto;
    width: auto;
  }

  #ancre_1 a, #ancre_2 a {
    color: var(--black);
    border-bottom: none;
    border-top: solid 3px;
    border-color: var(--grey);
  }
  
  /* #ancre_1 a[data-active="true"], #ancre_2 a[data-active="true"] {
    border-color: var(--blue);
    color: var(--blue);
  } */

}

/* Section search */
#search header {
  margin-bottom: 2em;
}

section header h1 {
  margin-bottom: 15px;
}

section div.search__container {
  display: flex;
  justify-content: center;
  height: 50px;
  border: 1px solid;
  border-color: var(--grey);
  border-radius: 15px;
  max-width: 400px;
}

section div.search__container label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
  background-color: var(--grey);
}

section div.search__container label i {
  font-size: 1.2em;
}

section div.search__container input {
  flex-grow: 4;
  border: none;
  padding: 0 0 0 20px;
}

section div.search__container button {
  padding: 0 17px;
  border: none;
  background-color: var(--blue);
  border-radius: 15px;
}

section div.search__container input::placeholder {
  font-size: 1.2em;
  color: black;
  font-weight: 900;
  font-family: Raleway, sans-serif;
}

section div.search__container button i {
  font-size: 1.2em;
  color: var(--white);
}

section div.search__container button p {
  display: none;
}

section div.checkbox__container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-top: 1em;
}

section div.checkbox__container h3 {
  margin: 0 10px 10px 0;
}

section div.checkbox__container div.checkbox__group{
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 0 0 0 40px;
  margin: 0 10px 10px 0;
  border-radius: 200px;
  border: solid 2px var(--grey);
  transition: .3s ease-in-out;
}

section div.checkbox__container .checkbox__group:hover {
  background-color: var(--grey);
  border: solid 2px var(--blue-light);
  transition: .3s ease-in-out;
}

section div.checkbox__container div.checkbox__group i {
  color: var(--blue);
  position: relative;
}

section div.checkbox__container div.checkbox__group i::before {
  position: absolute;
  z-index: 900;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
}

section div.checkbox__container div.checkbox__group i::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
  background-color: var(--blue-light);
  border: solid 2px var(--blue-light);
  padding: 20px;
  border-radius: 300px;
} 

section div.checkbox__container div.checkbox__group input {
  border: none;
  background: transparent;
  font-weight: 600;
  padding: 0 15px 0 10px;
}

section .result-info {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

section .result-info i {
  position: relative;
  color: var(--blue);
  font-size: 0.7em;
}

section .result-info i::after {
  position: absolute;
  content: "";
  top: 10px;
  left: calc(15px - 2px);
  transform: translate(-50%, -50%);
  padding: 1em;
  border: solid 2px var(--grey);
  border-radius: 999px;
}

section .result-info i::before {
  position: absolute;
  top: 10px;
  left: calc(15px - 2px);
  transform: translate(-50%, -50%);
}

section .result-info p {
  padding: 0 0 0 35px;
  margin: 0;
}

@media only screen and (min-width:768px) {
  section div.search__container button {
    border-radius: 0 15px 15px 0;
  }

  section div.search__container button i {
    display: none;
  }

  section div.search__container button p {
    display: block;
    color: var(--white);
    font-size: 1.2em;
  }

  section div.checkbox__container h3 {
    margin: 10px;
  }

  section div.checkbox__container div.checkbox__group {
    margin: 0 10px 0 0;
  }

  section div.checkbox__container div.checkbox__group:nth-last-child(1) {
    margin: 10px 10px 0 0;
  }
}

@media only screen and (min-width: 819px ) {
  section div.checkbox__container div.checkbox__group:nth-last-child(1) {
    margin: 0 10px 0 0;
  }
}

/* Most popular */
.card {
  display: flex;
  height: 140px;
  background-color: var(--white);
  margin-bottom: 15px;
  border-radius: 17px;
  box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.1);
}

.card a {
  height: 130px;
  padding: 5px;
}

.container__aside-section aside .card a {
  display: flex;
}

.container__aside-section aside .card a img {
  height: 130px;
}

.card a[data-active="true"] {
  color: var(--black);
}

.card .card__image {
  box-sizing: border-box;
}

.card .card__image img {
  width: 110px;
  height: 140px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.card .card__content-container {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.card .card__content-container .card__header h3 {
  margin: 5px 0;
}

.card .card__content-container .card__content {
  flex-grow: 4;
}

.card .card__content-container .card__content h4 {
  margin-top: 0;
  font-weight: 100;
  font-size: .9em;
}

.card .card__content-container footer {
  color: var(--blue);
  font-size: .8em;
  padding: 0 0 5px;
}

.card .card__content-container footer i {
  letter-spacing: -1px;
}

.four-stars .fas:nth-child(5) {
  color: var(--grey-darker);
}

.tree-stars .fas:nth-last-child(-n+2) {
  color: var(--grey-darker);
}

@media only screen and (max-width: 320px) {
  .card .card__content-container {
    padding: 5px;
  }

  .card .card__content-container .card__header h3 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 350px) {
  .card .card__image img {
    width: 140px;
  }
}

/* Aside */
.container__aside-section aside {
  padding: 15px;
}

aside header:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside header i {
  font-size: 1.5em;
}

aside .card .card__content-container h4 {
  margin-bottom: 0;
}

/* Hébergement */
section.hebergement {
  padding: 1em 0;
  margin: var(--margin-s);
}

section.hebergement article.card {
  flex-direction: column;
  height: 210px;
}

section.hebergement article.card .card__image {
  width: 100%;
}

section.hebergement article.card .card__image img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 120px;
}

section.hebergement article.card .card__content-container {
  padding: 5px 10px 0px;
}

section.hebergement article.card .card__content-container .card__header h3 {
  margin: 0;
  font-size: 1.1em;
}

section.hebergement article.card .card__content-container h4 {
  margin: 5px 0;
  font-weight: 400;
  font-size: .9em;
}

.hebergement footer {
  padding: 0;
}

.hebergement footer button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.1em;
  margin: 10px 0;
}

@media only screen and (min-width: 480px) {
  .container__aside-section aside {
    padding: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .container__aside-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .container__aside-section aside {
    min-width: 320px;
    height: auto;
    padding: 0 35px 20px 35px;
    border-radius: 17px;
    margin: var(--margin-s);
  }
  
  section.hebergement {
    flex-grow: 4;
    flex-direction: row;
    padding: 0 35px 35px;
    margin: var(--margin-s);
    margin-bottom: 35px;
    background-color: var(--grey);
    border-radius: 17px;
  }
  
  section.hebergement article.card {
    margin-bottom: 3%;
    width: 32%;
  }

  .container__cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1020px) {
  section.hebergement article.card {
    width: 32%;
  }
}

@media only screen and (min-width: 1280px) {
  section.hebergement {
    margin: 0 0 35px;
  }

  section.hebergement article.card {
    width: 32%;
  }

  .container__aside-section {
    flex-direction: row-reverse;
    margin: var(--margin-s);
  }

  .container__aside-section aside {
    margin: 0 0 35px 35px;
  }

  .container__aside-section aside .card {
    margin-bottom: 7%;
  }
}

@media only screen and (min-width: 1320px) {
  section.hebergement article.card {
    width: 30%;
  }
}

/* Activités */
#activites {
  padding-bottom: 30px;
}

#activites header h2 {
  margin: 30px 0;
}

#activites .card {
  flex-direction: column;
  height: 200px;
  padding: 0;
}

#activites .card .card__image {
  display: flex;
  width: 100%;
}

#activites .card .card__content-container {
  height: 25%;
}

#activites .card .card__image img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

#activites .card .card__content-container h3 {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
}

#activites article a {
  padding: 0;
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  #activites .container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    gap: 15px 15px;
    grid-template-areas:
      "card1 card2 card4 card5"
      "card1 card2 card4 card5"
      "card1 card2 card4 card5"
      "card1 card2 card4 card6"
      "card1 card3 card4 card6"
      "card1 card3 card4 card6";
  }

  .card1 { grid-area: card1; }
  .card2 { grid-area: card2; }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }
  .card5 { grid-area: card5; }
  .card6 { grid-area: card6; }

  #activites .card {
    height: 100%;
  }

  #activites .card .card__image{
    height: calc(100% - 77.5px);
  }

  #activites .card1 .card__image,
  #activites .card2 .card__image{
    height: calc(100% - 70px);
  }

  #activites .card .card__image img{
    height: 100%;
  }

  #activites .card .card__content-container {
    height: 70px;
  }

}

/* Footer */
footer .footer__container {
  padding: 20px 0;
}

footer .footer__container .footer__row {
  padding-bottom: 15px;
}

footer .footer__container .footer__row ul {
  margin: 0;
  padding: 0;
}

footer .footer__container .footer__row ul li {
  padding-bottom: 5px;
  list-style: none;
}

footer .footer__container .footer__row ul li a {
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  .footer__container .footer__row {
    width: 33%;
  }
}

/* Utils */
.flex {
  display: flex;
}

.bcg-grey {
  background-color: var(--grey);
}

.break-mobile {
  flex-grow: 1;
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .break-mobile {
    flex-grow: 0;
    flex-basis: 0;
  }
}